version: '3.8'
services:
  # 資料庫
  db:
    image: postgres:15-alpine
    container_name: meow_db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432" # [重要] 開啟這個孔，DBeaver 才能連
    volumes:
      - ./init-db:/docker-entrypoint-initdb.d
      - postgres-data:/var/lib/postgresql/data

  # 後端 API
  api:
    build: ./backend
    container_name: meow_backend
    restart: always
    ports: [ "3000:3000" ]
    depends_on: [ db ]
    environment:
      DATABASE_URL: ${DATABASE_URL}
      JWT_SECRET: ${JWT_SECRET}
      PORT: ${PORT}

  # 商家後台
  merchant-ui:
    build: ./frontend-merchant
    container_name: meow_merchant_ui
    restart: always
    ports: [ "8080:80" ]

volumes:
  postgres-data:
